.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-radius: 5px solid black ;
    padding: 20px;
    height: 150vh;
    display: flexbox;
    height: auto;
    width: auto;
    
}
.container > div {
    border: 5px solid grey;
    padding: 20px 0px;
    margin-top: 20px;
    
}

.box1{
    height: 200px;
    width: 1200x;
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 4;
   background-color: orange;
  }

  .box2{
    height: 30vh;
    width: 600px;
    text-align:center;
   background-color: red;
  }
  .box3{
    height: 30vh;
    width: 300px;
    text-align:center;
   background-color: orchid;
  }

  .box4{
    height: 20vh;
    width: 400px;
    text-align:center;
    background-color:green;
  }

  .box5{
    height: 30vh;
    width: 600px;
    text-align:center;
   background-color: yellow;
  }

  .box6{
    height: 50vh;
    width: 300px;
    text-align:center;
   background-color: tomato;
  }